@media screen and (min-width: 640px) {
  .main-nav ul li {
    display: inline;
    border-bottom: none;
    padding-left: 10px;
  }
  .icon-menu {
    display: none;
  }
  .pull-left {
    max-width: 75%;
    display: inline;
  }
  .pull-right {
    max-width: 75%;
    display: inline;
  }
  